$glyphicons-halflings-class-prefix: halflings !default;
$glyphicons-halflings-font-base-size: 12px !default;
$glyphicons-halflings-include-bonus: true !default;
$glyphicons-halflings-font-path: '../..' !default;