<template>
  <div>
    <h1>Layout Page</h1>
    <Header />
    <RightSide />
    <LeftSide />
    <Footer />
  </div>
</template>
<script>
import Header from "./Header/Header";
import Footer from "./Footer/Footer";
import LeftSide from "./LeftSide/LeftSide";
import RightSide from "./RightSide/RightSide";
export default {
  name: "Layout",
  components: { Header, Footer, LeftSide, RightSide }
};
</script>
<style src="./Layout.scss" lang="scss" scoped></style>