<template>
  <nav>
    <v-toolbar app flat class="primary">
      <v-toolbar-title></v-toolbar-title>
    </v-toolbar>
  </nav>
</template>

<script>
export default {};
</script>
<style lang="scss" src="./Header.scss">
</style>