@import 'src/styles/app.scss';


.f-footer {
  z-index: 100;
  padding: 7px 1.85rem 0;
  background: $body-bg;
}

.f-title {
  margin: 0;
  font-weight: 600;
  line-height: 28px;
  font-size: 25px;
}

.f-text {
  margin-bottom: 3px;
  color: red;
}