<template>
  <v-footer
    height="auto"
    class="primary darken-4 f-footer f-text f-title"
    absolute
    fixed
    app
    light
    inset
  >
    <v-layout row wrap justify-center>
      <v-btn color="primary">Home</v-btn>
      <v-btn color="accent">About Us</v-btn>
      <v-btn color="indigo">Team</v-btn>
      <v-btn color="info">Services</v-btn>
      <v-btn class="success">Blog</v-btn>
      <v-btn color="error">Contact Us</v-btn>
      <v-flex xs12 py-3 text-xs-center white--text>
        {{new Date().getFullYear() - 1988}} —
        <strong class="f-text">Al-lA</strong>
      </v-flex>
    </v-layout>
  </v-footer>
</template>
<script>
export default {
  data: () => ({})
};
</script>
<style lang="scss" src="./Footer.scss">
</style>