<template>
  <v-app class="grey lighten-4">
    <Layout class="content title" />>
  </v-app>
</template>

<script>
import Layout from "./components/Layout/Layout";
export default {
  name: "App",
  components: {
    Layout
  },
  data() {
    return {};
  }
};
</script>

<style lang="scss" src="./styles/theme.scss"/>